        <header class="masthead2 d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">Tus datos han sido registrados</h1>
                <h3 class="mb-1"><em>has click en "ver datos" para verlos</em></h3>
                <h3 class="mb-5"><em>has click en "salir" para cerrar sesion</em></h3>
                <a class="btn btn-danger btn-xl" href="<%=user_path(current_user) %>">Ver datos</a>
                <%=link_to "Salir", destroy_user_session_path, method: :get, class: "btn btn-danger btn-xl" %>
            </div>
        </header>
